.form-header-card {
    background: white;
    border-radius: 8px;
    padding: 24px;
    border: 1px solid #dadce0;
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
}

.form-header-accent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(103, 58, 183);
}

.form-header-title {
    font-size: 32px;
    font-weight: 400;
    width: 100%;
    border: none;
    border-bottom: 1px solid transparent;
    margin-bottom: 8px;
}

.form-header-title:focus {
    outline: none;
    border-bottom: 2px solid rgb(103, 58, 183);
}

.form-header-desc {
    font-size: 14px;
    width: 100%;
    border: none;
    border-bottom: 1px solid transparent;
    color: #202124;
}